<form  action="/coin_slide" >
  <label for="change">
    <input type="text" name="change" placeholder="Enter change amount">
  </label>
  <button type="submit" name="button">Get Coins</button>
</form>
